@media (max-width: 1200px) {


  .l_advisor_sign_up,
  .l_user_sign_up,
  .l_user_edit_profile,
  .l_become_advisor,
  .l_become_user {
    .user-info-side {
      margin-top: 0!important;
     // padding: auto!important;
    }
  }

  .work-period {
    >div {
      flex:0 0 80%;
      max-width: 80%;
    }
  }
}

@media (max-width: 991px) {
  // navbar
  .navbar {
    .navbar-toggler {
      cursor: pointer;
      border: none;
      .icon-bar {
        width: 25px;
        height: 3px;
        display: block;
        background-color: #3d3d3d;
        margin: 4px 0;
      }

    }
    flex-direction: row-reverse !important;
    .navbar-toggler-right {
      top: 10px;
    }
    .navbar-brand {
      width: 140px;
      max-width: 100%;
      padding: 10px 0;
      margin-right: auto;
      align-self: center;
    }
    ul {
      margin-right:  auto;
      li {
        a {
          padding: 18px 0!important;
        }
      }
    }
    .dropdown-menu {
      right: 0;
      left: auto !important;
    }

    .navbar-collapse {
      width: 100%;
      position: relative;
    }

  }

 /* .input-indent {
   margin: 0 0 30px !important
  }*/

/*  .md-input-container {
    label {
      font-size: 14px!important;
    }

  }*/

  .l_advisor_sign_up,
  .l_user_sign_up,
  .l_user_edit_profile,
  .l_become_advisor,
  .l_become_user {
   .form-description {
     font-size: 14px!important;
   }

    .md-select-value {
      font-size: 20px!important;
    }
  }

  .user-info {
    padding: 30px!important;
  }

  .work-period {
    >div {
      flex:0 0 100%;
      max-width: 100%;
    }
  }

}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
      margin-right: auto;
    }
  }
  .user-info {
    padding: 20px!important;
  }

}
@media (max-width: 575px) {
  .user-info {
    padding: 20px 15px!important;
  }
}


@media (min-width: 992px) {

  .navbar {
    padding: 10px 80px;
    li {
      a {
        padding: 24px 3.5vw !important;
      }
    }
  }

/*  .l_advisor_sign_up,
  .l_user_sign_up,
  .l_user_edit_profile,
  .l_become_advisor,
  .l_become_user {

    .custom-input {
      input, select {
        font-size: 28px !important;
      }
    }

    .md-select-value {
      font-size: 28px !important;

    }
  }*/
}

@media (min-width: 1200px) {
  .container {
    width: 1200px!important;
    max-width: 100%!important;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 2rem!important;
    padding-left: 2rem!important;
  }
}



@media (max-width: 1400px) {
  .l_room {
    > section {
      padding: 100px 15px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 1400px;
      max-width: 100%;
    }
  }
}

@media (min-width: 1400px) {
  .l_room {
    > section {
      padding: 100px 70px;
    }
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
}

