// Body
//$layout-bg: #f7f9fb;

// Navbar
$navbar-border-radius: 0;
$navbar-text-color:#2a327d;


// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav
$nav-pills-active-link-color: #55595c; // $gray;
$nav-pills-active-link-bg: #fff;
$nav-pills-border-radius: 0;

//input
$input-label-color: #0cacff;
$input-text-color: #54397c;
$blue-dark:#414ec4;
$input-container-height: 61px;

//button
$btn-danger-color:#fe7871;
$btn-info-color: #7872f9;

//colors

$light-blue:#9bd8ff;
$orange:#fcbb5e;
$out-green:#88d260;
$out-red:#d14f6a;

// calendar
$base-orange: #f29543;
$white: #ffffff;
$gray: #e0e0e0;
$gray-dark: #b1b1b1;
$large-padding: 15px;
$small-padding: 10px;
$primary-color: #5bc0de;
$icon-border-size: 1px;

